@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============ Responsive Texts: START ============ */

h1 {
  font-size: clamp(1.875rem, calc(4vw + 1rem), 3.75rem);
}

h2 {
  font-size: clamp(1.7rem, calc(4vw + 0.85rem), 3rem);
}

h3 {
  font-size: clamp(1.525rem, calc(4vw + 0.68rem), 2.25rem);
}

h4 {
  font-size: clamp(1.35rem, calc(4vw + 0.51rem), 1.875rem);
}

h5, p.XXL, a.XXL {
  font-size: clamp(1.175rem, calc(4vw + 0.34rem), 1.5rem);
}

h6, p.XL, a.XL, button.XL {
  font-size: clamp(1rem, calc(4vw + 0.17rem), 1.25rem);
}

p.LG, a.LG, button.LG {
  font-size: clamp(0.93rem, calc(4vw + 0.155rem), 1.125rem);
}

p.MD, a.MD, button.MD {
  font-size: clamp(0.87rem, calc(4vw + 0.14rem), 1rem);
}

p.SM, a.SM, button.SM {
  font-size: clamp(0.81rem, calc(4vw + 0.125rem), 0.875rem);
}

p.XS, a.XS {
  font-size: clamp(0.75rem, calc(4vw + 0.11rem), 0.75rem);
}

/* ============ Responsive Texts: END ============ */


/* ============ Product Section Pattern: START ============ */

#home-products-section {
  clip-path: polygon(0% 2.5%, 100% 4.25%, 100% 97.5%, 0 95.75%);

  @media only screen and (min-width: 768px) {
    clip-path: polygon(0% 5%, 100% 13%, 100% 95%, 0 87%);
  }

  @media only screen and (min-width: 1280px) {
    clip-path: polygon(0 5%, 100% 16%, 100% 95%, 0 84%);
  }
}

#home-products-section #home-products-section-overlay {
  clip-path: polygon(0% 2.5%, 100% 5%, 100% 97.5%, 0 95%);

  @media only screen and (min-width: 768px) {
    clip-path: polygon(0% 5%, 100% 15%, 100% 95%, 0 85%);
  }

  @media only screen and (min-width: 1280px) {
    clip-path: polygon(0 5%, 100% 18%, 100% 95%, 0 82%);
  }
}

/* ============ Product Section Pattern: END ============ */

/* ============ Feature Highlight: START   ============ */

#feature-highlights-section #container:nth-child(even) > #asset {
  @apply xl:col-start-2 xl:col-end-3;
}
#feature-highlights-section #container:nth-child(even) > #details {
  @apply xl:col-start-1 xl:col-end-2;
}

/* ============ Feature Highlight: END ============ */


/* ============ Products Page: START   ============ */

#live-casino-product-section {
  @apply bg-[radial-gradient(circle_at_65%,#991D1A,#0D0D0D_80%)];
}
#slots-product-section {
  @apply bg-[radial-gradient(circle_at_65%,#A4380A,#0D0D0D_80%)];
}
#sportsbook-product-section {
  @apply bg-[radial-gradient(circle_at_65%,#64A2FF,#0D0D0D_80%)];
}
#esports-product-section {
  @apply bg-[radial-gradient(circle_at_65%,#014B4E,#0D0D0D_80%)];
}

.products-page-product-section:nth-child(odd) #container {
  @apply xl:grid-cols-[36rem,_minmax(36rem,_1fr)];
}
.products-page-product-section:nth-child(odd) #container > #details {
  @apply col-start-1 col-end-2;
}
.products-page-product-section:nth-child(odd) #container > #asset {
  @apply col-start-1 col-end-2 xl:col-start-2 xl:col-end-3;
}

.products-page-product-section:nth-child(even) #container {
  @apply xl:grid-cols-[minmax(36rem,_1fr),_36rem];
}
.products-page-product-section:nth-child(even) #container > #details {
  @apply col-start-1 col-end-2 xl:col-start-2 xl:col-end-3;
}
.products-page-product-section:nth-child(even) #container > #asset {
  @apply col-start-1 col-end-2;
}

/* ============ Products Page: END ============ */


#partners-section .slide-to-left {
  animation: slide-to-left 50s linear infinite;
  animation-delay: 1s;
}

#partners-section .slide-to-right {
  animation: slide-to-right 50s linear infinite;
  animation-delay: 1s;
}

@keyframes slide-to-left {
  0% {
    left: 0;
  }
  100% {
    left: -8640px;
  }
}

@keyframes slide-to-right {
  0% {
    left: -6720px;
  }
  100% {
    left: 0;
  }
}

.slick-arrow {
  display: none !important;
}